<div class="flex justify-between my-1">
  <div class="flex">
    <label class="cursor-pointer" for="<%= item[1] %>">
      <input
        class="cursor-pointer checkbox-select-item"
        type="checkbox"
        id="<%= item[1] %>"
        value="<%= item[1] %>"
        data-cat="<%- item[2] == 'Frozen' || item[2] == 'Fresh' ? item[2] : '' %>"
      />
      <%= item[1] %>
    </label>
    <div id="counter-container" class="flex ml-2">
      <button id="decrement-btn" data-dec="-1" class="value-button">-</button>
      <div id="counter" contenteditable="false">1</div>
      <button id="increment-btn" data-inc="1" class="value-button">+</button>
    </div>
  </div>
  <button
    id="delete-item"
    data-cat="<%= item[2] %>"
    data-id="<%= item[0] %>"
    data-item="<%= item[1] %>"
    class="text-red-600"
  >
    X
  </button>
</div>
