<div class="">
  <div class="flex justify-between py-2 font-medium text-sm w-full">
    <h2 class="text-gray-800 leading-4 tracking-wider">A. Select</h2>
    <button
      class="bg-blue-600 hover:bg-blue-800 px-1 rounded text-white"
      id="open-add-modal"
    >
      Add New Item
    </button>
  </div>
  <!-- FRUITS -->
  <div id="category-wrapper" class="w-full">
    <h2
      id="category-title"
      class="p-2 cursor-pointer rounded-tr rounded-tl shadow-2xl text-white bg-gray-800"
    >
      FRUITS
    </h2>
    <div
      class="p-4 rounded-br rounded-bl bg-white swing-in-top-fwd"
      id="checkboxes-wrapper-fruits"
      style="display: none;"
    >
      <%if(fruits.length > 0){%> <% fruits.forEach(item => { %> <%-
      include("checkboxAndCounter", { item : item } )%> <% }) %> <%}%>
      <span class="checkbox-select-item hidden"></span>
    </div>
  </div>
  <!-- VEG -->
  <div id="category-wrapper" class="w-full mt-3">
    <h2
      id="category-title"
      class="p-2 cursor-pointer rounded-tr rounded-tl shadow-2xl text-white bg-gray-800"
    >
      VEGETABLES
    </h2>
    <div
      class="p-4 rounded-br rounded-bl bg-white swing-in-top-fwd"
      id="checkboxes-wrapper-veg"
      style="display: none;"
    >
      <%if(veg.length > 0){%> <% veg.forEach(item => { %> <%-
      include("checkboxAndCounter", { item : item } )%> <% }) %> <%}%>
    </div>
  </div>
  <!-- CONDIMENTS -->
  <div id="category-wrapper" class="w-full mt-3">
    <h2
      id="category-title"
      class="p-2 cursor-pointer rounded-tr rounded-tl shadow-2xl text-white bg-gray-800"
    >
      CONDIMENTS
    </h2>
    <div
      class="p-4 rounded-br rounded-bl bg-white swing-in-top-fwd"
      id="checkboxes-wrapper-cond"
      style="display: none;"
    >
      <%if(cond.length > 0){%> <% cond.forEach(item => { %> <%-
      include("checkboxAndCounter", { item : item } )%> <% }) %> <%}%>
    </div>
  </div>
  <!-- FROZEN -->
  <div id="category-wrapper" class="w-full mt-3">
    <h2
      id="category-title"
      class="p-2 cursor-pointer rounded-tr rounded-tl shadow-2xl text-white bg-gray-800"
    >
      FROZEN
    </h2>
    <div
      class="p-4 rounded-br rounded-bl bg-white swing-in-top-fwd"
      id="checkboxes-wrapper-frozen"
      style="display: none;"
    >
      <%if(frozen.length > 0){%> <% frozen.forEach(item => { %> <%-
      include("checkboxAndCounter", { item : item } )%> <% }) %> <%}%>
    </div>
  </div>
  <!-- MEAT -->
  <div id="category-wrapper" class="w-full mt-3">
    <h2
      id="category-title"
      class="p-2 cursor-pointer rounded-tr rounded-tl shadow-2xl text-white bg-gray-800"
    >
      MEAT
    </h2>
    <div
      class="p-4 rounded-br rounded-bl bg-white swing-in-top-fwd"
      id="checkboxes-wrapper-meat"
      style="display: none;"
    >
      <%if(meat.length > 0){%> <% meat.forEach(item => { %> <%-
      include("checkboxAndCounter", { item : item } )%> <% }) %> <%}%>
    </div>
  </div>
  <!-- FRESH -->
  <div id="category-wrapper" class="w-full mt-3">
    <h2
      id="category-title"
      class="p-2 cursor-pointer rounded-tr rounded-tl shadow-2xl text-white bg-gray-800"
    >
      FRESH
    </h2>
    <div
      class="p-4 rounded-br rounded-bl bg-white swing-in-top-fwd"
      id="checkboxes-wrapper-fresh"
      style="display: none;"
    >
      <%if(fresh.length > 0){%> <% fresh.forEach(item => { %> <%-
      include("checkboxAndCounter", { item : item } )%> <% }) %> <%}%>
    </div>
  </div>
</div>
