<h2 class="text-gray-800 text-sm py-2 font-medium leading-4 tracking-wider">
  C. Shop
</h2>
<div id="list-section" class="rounded">
  <%if(lists.length > 0){%> <% lists.forEach( list => {%>
  <div
    class="border-b border-gray-700 rounded-tr rounded-tl rounded-tr rounded-tl rounded"
  >
    <div
      class="flex justify-between background-color rounded-tr rounded-tl text-white text-xl sm:text-base cursor-pointer uppercase"
    >
      <h2
        id="<%= list.password ? 'list-title-password-protected' :  'list-title' %>"
        class="w-full p-2 flex items-center"
        style="overflow-wrap: break-word; min-width: 0px;"
      >
        <%= list.title %>
        <span
          class="inline-block ml-4 rounded-full px-2 text-gray-800 bg-white goThruThisElemForEvents"
        >
          <%= list.items.length %>
        </span>
        <span class="goThruThisElemForEvents ml-1 inline-block">items</span>
        <%if(list.password){%>
        <img class="goThruThisElemForEvents ml-8" src="/static/lock.svg" />
        <%}%>
      </h2>
      <button
        id="<%= list.password ? 'delete-list-password-protected' :  'delete-list' %>"
        data-id="<%= list._id %>"
        class="px-4 rounded-full hover:bg-gray-500"
      >
        X
      </button>
    </div>

    <ul
      id="lists-wrapper"
      class="swing-in-top-fwd border border-gray-200"
      style="display: none;"
    >
      <% list.items.forEach( item => {%>
      <div class="flex justify-between bg-white px-2 py-1">
        <li><%= item %></li>
        <button
          id="delete-a-shopping-lists-item"
          data-id="<%= list._id %>"
          data-item="<%= item %>"
          class="text-red-600"
        >
          Done
        </button>
      </div>
      <%})%>
    </ul>
    <%- include("enterPasswordModalProtectShoppingList", { list }) %>
  </div>
  <%})%> <%}else{%>
  <div
    id="if-no-shopping-list-items"
    class="text-white shadow-inner rounded text-center"
  >
    <div class="rounded p-12" style="background: rgba(0, 0, 0, 0.5);">
      Empty Shopping Lists.
    </div>
  </div>
  <%}%>
</div>
