<h2 class="text-gray-800 text-sm py-2 font-medium leading-4 tracking-wider">
  C. Shop
</h2>
<div id="list-section" class="rounded">
  <%if(lists.length > 0){%> <% lists.forEach( list => {%>
  <div class="mb-5 rounded">
    <div
      class="flex justify-between bg-gray-800 rounded-tr rounded-tl text-white text-xl sm:text-base cursor-pointer uppercase"
    >
      <h2 id="list-title" class="w-full p-2" style="overflow-wrap: break-word; min-width: 0px;">
        <%= list.title %>
        <span id="items-counter" class="inline-block ml-4 rounded-full px-2 text-gray-800 bg-white"><%= list.items.length %></span> items
      </h2>
      <button
        id="delete-list"
        data-id="<%= list._id %>"
        class="px-4 rounded-full hover:bg-gray-500"
      >
        X
      </button>
    </div>

    <ul id="lists-wrapper" class="swing-in-top-fwd" style="display: none;">
      <% list.items.forEach( item => {%>
      <div
        class="flex justify-between border border-gray-200 bg-white px-2 py-1"
      >
        <li><%= item %></li>
        <button id="delete-a-shopping-lists-item"  data-id="<%= list._id %>" data-item="<%= item %>" class="text-red-600">Done</button>
      </div>
      <%})%>
    </ul>
  </div>
  <%})%> <%}%>
</div>
