<%- include('includes/header') %>
<main>
  <div id="main-wrapper" class="flex flex-wrap justify-center w-11/12 mx-auto">
    <section class="w-full lg:w-1/2 p-2">
      <%- include('includes/itemsSection') %>
    </section>
    <!-- VIEWER CONTAINER -->
    <section class="w-full lg:w-1/2 p-2">
      <div class="lg:w-1/2 lg:float-left rounded">
      <h2 class="text-gray-800 text-sm py-2 font-medium leading-4 tracking-wider">B. View & Save</h2>
        <ol
          id="viewer"
          class="list-decimal bg-white rounded-tr rounded-tl px-6 py-2"
          style="min-height: 5rem;"
        ></ol>
        <input
          class="w-full bg-white mt-3 p-2 shadow-inner"
          type="text"
          id="title-before-save"
          placeholder="Title...optional"
        />
        <button
          id="submit-btn"
          class="bg-green-600 w-full hover:bg-green-800 rounded-br rounded-bl text-white px-2 mt-1 "
        >
          Save
        </button>
      </div>
    </section>
  </div>
  <!-- SHOPPING LIST -->
  <section class="p-8 lg:p-0">
    <%- include('includes/shoppingList') %>
  </section>
</main>

<%- include("includes/newItem") %>
<!-- HIDDEN BY DEFAULT -->
<%- include('includes/footer') %>
