<%- include('includes/header') %>
<main
  id="main-wrapper"
  class="w-full sm:max-w-3xl text-2xl sm:text-base mx-auto mt-4 sm:mt-20 p-4 grid grid-cols-1 sm:grid-cols-2 gap-4"
>
  <section class="">
    <%- include('includes/itemsSection') %>
  </section>
  <!-- VIEWER CONTAINER -->
  <div class="grid grid-cols-1 gap-4">
    <section>
      <div class="rounded">
        <div
          class="flex justify-between text-gray-800 text-sm py-2 font-medium leading-4 tracking-wider"
        >
          <h2>
            B. View & Save
          </h2>
          <button id="copy-text-btn" class="hover:text-gray-600">Copy</button>
        </div>

        <ol
          id="viewer"
          class="list-decimal bg-white rounded-tr rounded-tl px-2 py-2"
          style="min-height: 5rem;"
        ></ol>
        <textarea id="text-area-for-copy" class="mt-4 absolute modal"></textarea>
        <input
          class="w-full bg-white mt-3 p-2 shadow-inner"
          type="text"
          id="title-before-save"
          placeholder="Title...optional"
        />
        <button
          id="submit-btn"
          class="bg-green-600 w-full hover:bg-green-800 rounded-br rounded-bl text-white px-2 mt-1"
        >
          Save
        </button>
      </div>
    </section>
    <!-- SHOPPING LIST -->
    <section class="">
      <%- include('includes/shoppingList') %>
    </section>
  </div>
</main>

<%- include("includes/categories") %>
<!-- HIDDEN BY DEFAULT -->
<%- include('includes/footer') %>
