<%- include('includes/header') %>
<main id="main-wrapper" class="flex flex-wrap justify-center w-11/12 mx-auto">
  <section class="w-full lg:w-1/2 p-2">
    <div class="lg:w-1/2 lg:float-right">
      <!-- FRUITS -->
      <div id="category-wrapper" class="w-full">
        <h2
          id="category-title"
          class="p-2 cursor-pointer rounded-tr rounded-tl shadow-2xl text-white bg-gray-800 text-lg"
        >
          FRUITS
        </h2>
        <div
          class="p-4 rounded-br rounded-bl bg-white"
          id="checkboxes-wrapper-fruits"
          style="display: none;"
        >
          <%if(fruits.length > 0){%>
            <% fruits.forEach(item => { %>
            <div class="flex justify-between">
              <label class="cursor-pointer" for="<%= item[1] %>">
                <input
                  class="cursor-pointer checkbox-select-item"
                  type="checkbox"
                  id="<%= item[1] %>"
                  value="<%= item[1] %>"
                />
                <%= item[1] %>
              </label>
              <button
                id="delete-item"
                data-cat="Fruits"
                data-id="<%= item[0] %>"
                data-item="<%= item[1] %>"
                class="text-red-600"
              >
                X
              </button>
            </div>
            <% }) %>
          <%}%>
        </div>
      </div>
      <!-- VEG -->
       <div id="category-wrapper" class="w-full mt-3">
        <h2
          id="category-title"
          class="p-2 cursor-pointer rounded-tr rounded-tl shadow-2xl text-white bg-gray-800 text-lg"
        >
          VEGETABLES
        </h2>
        <div
          class="p-4 rounded-br rounded-bl bg-white"
          id="checkboxes-wrapper-veg"
          style="display: none;"
        >
          <%if(veg.length > 0){%>
            <% veg.forEach(item => { %>
            <div class="flex justify-between">
              <label class="cursor-pointer" for="<%= item[1] %>">
                <input
                  class="cursor-pointer checkbox-select-item"
                  type="checkbox"
                  id="<%= item[1] %>"
                  value="<%= item[1] %>"
                />
                <%= item[1] %>
              </label>
              <button
                id="delete-item"
                data-cat="Vegetables"
                data-id="<%= item[0] %>"
                data-item="<%= item[1] %>"
                class="text-red-600"
              >
                X
              </button>
            </div>
            <% }) %>
          <%}%>
        </div>
      </div>
    </div>
  </section>
  <section class="w-full lg:w-1/2 p-2">
    <div class="lg:w-1/2 lg:float-left">
      <!-- VIEWER CONTAINER -->
      <ol
        id="viewer"
        class="list-decimal bg-white rounded px-6 py-2"
        style="min-height: 5rem;"
      ></ol>
      <button
        id="submit-btn"
        class="bg-green-600 hover:bg-green-800 rounded text-white px-2 mt-1 float-right"
      >
        Save
      </button>
    </div>
  </section>
</main>

<%- include("includes/newItem") %>
<!-- HIDDEN BY DEFAULT -->
<%- include('includes/footer') %>
